@use '../../base/globalStyles';
@use '../../base/mixins.scss';

.pop-up-container-main {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 600px;
  padding: 32px;
  outline: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: globalStyles.$white-color;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  .pop-up-header-container {
    padding-bottom: 32px;
    position: relative;

    & > span:last-child {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: globalStyles.$grey-color;
      position: absolute;
      cursor: pointer;

      top: -45px;
      left: 101%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include mixins.tablet {
      & {
        padding-bottom: 0;
      }
    }
  }

  .pop-up-form-content {
    display: flex;

    .pop-up-form-content-fields {
      width: 100%;

      & > span:last-child {
        padding-top: 48px;
      }

      @include mixins.tablet {
        & > span:last-child {
          padding-top: 24px;
        }
      }
    }
    .pop-up-form-text {
      width: 100%;
      background-color: globalStyles.$white-color;

      display: flex;
      justify-content: center;
      flex-direction: column;

      & > label {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 8px;

        @include mixins.tablet {
          font-size: 16px;
        }
      }

      & > input,
      & > textarea {
        height: 48px;
        border-radius: 8px;
        outline: none;
        border: none;
        padding-left: 16px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        font-size: 16px;
        color: globalStyles.$grey2-color;
      }

      & > textarea {
        height: 200px;
        padding: 16px;
        resize: none;
      }
    }

    .pop-up-form-container {
      width: 100%;
      display: flex;
      padding-left: 16px;
      flex-direction: column;

      .pop-up-form-btns-container {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: end;

        .select-container {
          display: flex;
          flex-direction: column;
          margin-right: 16px;

          & > label {
            padding-bottom: 8px;
            font-size: 16px;
          }
        }

        .delete-btn-container {
          width: 135px;
          height: 48px;

          margin-top: 26px;

          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background-color: globalStyles.$red-color;
          color: globalStyles.$white-color;
          transition: all 200ms ease-in-out;

          cursor: pointer;

          & > label {
            cursor: pointer;
          }

          & > svg {
            margin-left: 8px;
          }

          &:hover {
            opacity: 0.8;
          }
          @include mixins.tablet {
            & {
              width: 100px;
            }
          }
        }
      }

      .pop-up-form-info-container {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: end;
        padding-top: 48px;

        & > span {
          display: flex;

          & > label {
            margin-right: 8px;
            font-size: 18px;
            color: globalStyles.$grey2-color;

            @include mixins.tablet {
              & {
                font-size: 14px;
              }
            }
          }

          & > span {
            font-size: 18px;
            font-weight: 600;
            color: globalStyles.$grey2-color;

            @include mixins.tablet {
              & {
                font-size: 14px;
              }
            }
          }
        }
        @media screen and (max-width: 494px) {
          & {
            padding-top: 16px;
          }
        }
      }

      @include mixins.tablet {
        & {
          padding-top: 16px;
          padding-left: 0;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
    @include mixins.tablet {
      & {
        flex-direction: column;
        .pop-up-form-text {
          padding-top: 24px;
          & > input {
            font-size: 14px;
          }
          & > textarea {
            height: 150px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.pop-up-form-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 48px;

  .save-btn-container {
    width: 200px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: globalStyles.$green-color;
    color: globalStyles.$white-color;
    transition: all 200ms ease-in-out;

    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  @include mixins.tablet {
    & {
      justify-content: center;
    }
  }

  @media screen and (max-width: 494px) {
    & {
      padding-top: 16px;
    }
  }
}
