@use '/src/base/globalStyles';
@use '/src/base/mixins';

.card-container {
  width: 100%;
  max-width: 305px;
  min-height: 153px;
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;
  cursor: pointer;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: globalStyles.$white-color;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h5 {
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > span {
      font-size: 14px;
    }
  }

  .card-body {
    word-wrap: break-word;
    font-size: 14px;
    padding-top: 10px;
    color: globalStyles.$grey2-color;
  }

  @include mixins.mobile {
    max-width: none;
  }
}
