@use '../../base/globalStyles';

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 32px;

  & > h1 {
    text-transform: capitalize;
    color: globalStyles.$grey5-color;
  }

  & > svg {
    width: 56px;
    height: 56px;
    color: globalStyles.$grey5-color;
    opacity: 0.25;

    cursor: pointer;
  }
}
