.filter-select-container{ 
     position: relative;
    & > span{
        width:135px;
        height:48px;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: #0e9f42;
        color:#fff;
        text-transform: capitalize;
        transition: all 200ms ease-in-out;

        cursor: pointer;

        & > svg{
            margin-right: 8px;
            
        }

        &:hover{
            opacity: 0.8;
        }
    }

    .filter-select-items-container{
        width: 135px;
        height: 100px;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: absolute;
        border-radius: 5px;
        
        top: 110%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & > li {
            width: 100%;
            padding:5px 0px;
            text-transform: capitalize;
            cursor: pointer;
            text-align: center;
        }

        & > li:hover {
            background-color: #0e9f42;
            color: #fff;
        }
    }

    .hidden{
        display: none;
    }

    .item-active{
        background-color: #0e9f42;
        color: #fff;
    }
}


