@use '../../base/globalStyles';
@use '../../base/mixins.scss';

.side-bar-container {
  height: 100%;
  width: 100%;
  max-width: 250px;
  padding: 32px;
  z-index: 2;
  position: fixed;

  transition: ease-in 0.5s;

  background-color: globalStyles.$green-color;

  & > svg {
    margin-left: -10px;
    width: 200px;
    height: 100px;
  }

  .hidden-side-bar-btn {
    display: none;
  }

  .side-bar-content {
    padding-top: 60px;

    .side-bar-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 18px 0;

      opacity: 0.5;
      transition: all 200ms ease;

      cursor: pointer;

      & > span {
        padding-left: 16px;
        font-size: 16px;
        font-weight: 700;
        color: globalStyles.$white-color;
      }

      & > svg {
        color: globalStyles.$white-color;
      }
    }

    & > li:first-child {
      padding-top: 0px;
    }

    & > li:last-child {
      padding-bottom: 0px;
    }

    & > li:hover {
      opacity: 1;
    }

    .active {
      opacity: 1;
    }
  }

  @include mixins.tablet {
    left: -100%;

    .hidden-side-bar-btn {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 24px;
      width: 100%;
      & > svg {
        width: 32px;
        height: 32px;

        color: globalStyles.$white-color;
      }
    }
  }
}

.show-side-bar-menu {
  left: 0;
}
