@use '/src/base/globalStyles';
@use '/src/base/mixins';

.container {
  max-width: 1350px;
  height: 100vh;
  margin: 0 auto;
  background-color: globalStyles.$green-color;

  .main-container {
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    border-top-left-radius: 32px;
    padding: 32px;
    padding-top: 48px;

    background-color: globalStyles.$white1-color;

    display: flex;
    flex-direction: column;

    .menu-hamburger {
      display: none;

      & > svg {
        width: 32px;
        height: 32px;
      }

      @include mixins.tablet {
        display: inherit;
      }
    }

    @include mixins.tablet {
      width: 100%;
      margin-left: 0;
    }
  }
}
