@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
span,
li,
textarea,
input,
option {
  font-family: Inter, sans-serif;
}

body {
  background-color: #fbfaff;
}
