$green-color: #0e9f42;
$white-color: #fff;
$white1-color: #fbfaff;
$white2-color: #f0f0f0;

$grey-color: rgb(190, 184, 184);
$grey2-color: rgba(117, 105, 102, 1);
$grey3-color: rgba(64, 57, 55, 1);
$grey4-color: rgb(196, 196, 196);
$grey5-color: #403937;
$grey6-color: rgba(124, 124, 138, 1);

$red-color: #fd0e04;

$violet-color: #62618f;
